<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>	Calculator using Angular</title>
        <script src="../commonJS/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src = "js/model.js"></script>
        <script src="js/controller.js"></script>
    </head>
    <body ng-app="myapp">
      <div ng-controller="calculatorctrl" >
          <div keypress-events>
             <!-- typed: {{key}}-->
            </div>  
               <table border="2">
                    <tr> 
                        <h1>{{equation}}</h1>
                     </tr>
                    <tr>       
                        <td><button id="clearAll" ng-click="clearAll()">AC</button></td>
                        <td><button id="delete" ng-click="delete()">DEL</button></td>
                        <td><button id="/" ng-click="updateEquation('/')">/&nbsp;</button></td>
                        <td><button id="*" ng-click="updateEquation('*')" style="width: 30px">&nbsp;*&nbsp;</button></td>
                    </tr> 
                    <tr>      
                        <td><button id="7" ng-click="updateEquation('7')">&nbsp;7&nbsp;&nbsp;</button></td>
                        <td><button id="8" ng-click="updateEquation('8')">&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp; </button></td>
                        <td><button id="9" ng-click="updateEquation('9')">9</button></td>
                        <td><button id="-" ng-click="updateEquation('-')" style ="width: 30px">&nbsp;-&nbsp;</button></td>
                    </tr> 
                    <tr>    
                        <td><button id="4" ng-click="updateEquation('4')">&nbsp;&nbsp;4&nbsp; </button></td>
                        <td><button id="5" ng-click="updateEquation('5')">&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;</button></td>
                        <td><button id="6" ng-click="updateEquation('6')">6</button></td>
                        <td><button id="+" ng-click="updateEquation('+')" style="width: 30px">+</button></td>
                    </tr> 
                    <tr>     
                        <td><button id="1" ng-click="updateEquation('1')">&nbsp;&nbsp;1&nbsp;</button></td>
                        <td><button id="2" ng-click="updateEquation('2')">&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;</button></td>
                        <td><button id="3" ng-click="updateEquation('3')">3</button></td>
                        <td rowspan="2" style="height: 100%; "><button id="answer" ng-click="compute()" style="height: 52px; width: 30px">=</button></td>
                    </tr> 
                    <tr>     
                        <td><button id="0" ng-click="updateEquation('0')">&nbsp;&nbsp;0&nbsp;</button></td>
                        <td><button id="00" ng-click="updateEquation('00')">&nbsp;00&nbsp;&nbsp;</button></td>
                        <td><button id="." ng-click="updateEquation('.')">.&nbsp;</button></td>
                    </tr>     
                </table>	
        </div>
    </body>
</html>